/* Universal Styles */


body {
	color: black;
	font-family: "Georgeia", serif;
	font-size: 17px;
	margin: 0;
}


a {

}


h2 {

}


nav span {
	display: inline-block;
	padding: 20px 10px;
}


/* Universal Styles - News Stories */ 


.stories {

}


.stories .text-content {

}


.story {

}


.narrative {

}


.image-content {

}


/* Header */


header {
	align-items: center;
	background-color: white;
	border-bottom: 1px solid black;
	display: flex;
	font-family: "Verdana", sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 1;
}


.logo {
	align-items: center;
	display:flex;
	flex-grow: 1;
	padding-left: 30px;
}

.logo img {
	height: 60px;
	width: 70px;
	margin-right: 12px;
}


.logo span {
	color: mediumaquamarine;
}


header nav {
	padding-right: 40px;
}


/* Main Content Container */


.content {

}


.column {

}


/* First News Column */


.column .large {

}


.lead-story .image-content {

}


.lead-story .image-content span {

}


.fall-cancelled .image-content {

}


.pop-culture .image-content {

}


/* Second News Column */


.column .medium {

}


.cat-ceo .image-content {

}


/* Third News Column */


.column .small {

}


img.cookie {

}


.news-bites h3 {

}


.news-bites .bite {

}


.bite span {

}


/* Footer */


footer {

}


footer .title {

}


footer nav {

}


